<div class="bg-white py-12 sm:py-16">
       <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <div class="grid grid-cols-4 grid-flow-row items-center ">
                <div class="col-span-1"> <input type="search" id="default-search" class=" p-4 pl-10 w-200 text-sm text-gray-900 bg-gray-50 rounded-lg border border-blue-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search articles"></div>
                <div class="col-span-3"> <button type="submit" class="text-white text-xl font-bold right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button></div>

              </div>
           
           
        </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl font-mono">Latest</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Choose from your stack</p>
    </div>
    
    <div class="mx-auto mt-10 pt-4 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200  lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div *ngFor="let card of blogs" ><app-blogcards [blog]="card"></app-blogcards></div>
      
    </div>
  </div>
</div>
