


<!-- Container for demo purpose -->
<!-- <div class="grid grid-rows-8 grid-cols-7 grid-flow-col gap-0">
   
    <div class="grid grid-cols-8 gap-4">
        <div class=""><app-sidebar></app-sidebar></div>
        <div class="bg-blue-500">02</div>
        <div class="...">03</div>
        <div class="col-span-2 ...">04</div>
        <div class="...">05</div>
        <div class="...">06</div>
        <div class="col-span-2 ...">07</div>
      </div>
    
</div> -->

    <div class="grid grid-cols-6 grid-flow-row gap-0">
        <div class="col-span-1"><app-sidebar></app-sidebar></div>
        <div class="col-span-4"><router-outlet></router-outlet>></div>
        <div class="col-span-1 bg-red-500">Item 3</div>
      </div>
