
<div class="forum-card-container">
    <app-forum-card title="Forum Title 1" details="Short details of Forum 1" headerColor="#ff6347"></app-forum-card>
    <app-forum-card title="Forum Title 2" details="Short details of Forum 2" headerColor="#1e90ff"></app-forum-card>
    <app-forum-card title="Forum Title 1" details="Short details of Forum 1" headerColor="#ff6347"></app-forum-card>
    <app-forum-card title="Forum Title 2" details="Short details of Forum 2" headerColor="#1e90ff"></app-forum-card>
    <app-forum-card title="Forum Title 3" details="Short details of Forum 3" headerColor="#32cd32"></app-forum-card>

</div>
  